@model Lab1App.Models.Entities.Persona

@{
    ViewData["Title"] = "Crear Persona";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <!-- Mostrar errores generales si existen -->
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }


    <div class="form-group mb-3">
        <label asp-for="Cc" class="control-label"></label>
        <input asp-for="Cc" class="form-control" />
        <span asp-validation-for="Cc" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Apellido" class="control-label"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Genero" class="control-label"></label>
        <select asp-for="Genero" class="form-select">
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
        </select>
        <span asp-validation-for="Genero" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Edad" class="control-label"></label>
        <input asp-for="Edad" class="form-control" />
        <span asp-validation-for="Edad" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Crear" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
